In [1]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import gzip

In [2]:
# Funzioni per importare file con estensione '.gz'.
def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield eval(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')



# I dataset contengono recensiani di capi di abbigliamento acquistati su ModCloth e RentTheRunway.
ModCloth = getDF('data/modcloth_final_data.json.gz')

# These datasets contain attributes about products sold on ModCloth and Amazon which may be sources of bias in recommendations (in particular, attributes about how the products are marketed). Data also includes user/item interactions for recommendation.
MarketBias = pd.read_csv('data/df_modcloth.csv')

In [3]:
MarketBias.head()

,item_id,user_id,rating,timestamp,size,fit,user_attr,model_attr,category,brand,year,split
0,7443,Alex,4,2010-01-21 08:00:00+00:00,NaN,NaN,Small,Small,Dresses,NaN,2012,0
1,7443,carolyn.agan,3,2010-01-27 08:00:00+00:00,NaN,NaN,NaN,Small,Dresses,NaN,2012,0
2,7443,Robyn,4,2010-01-29 08:00:00+00:00,NaN,NaN,Small,Small,Dresses,NaN,2012,0
3,7443,De,4,2010-02-13 08:00:00+00:00,NaN,NaN,NaN,Small,Dresses,NaN,2012,0
4,7443,tasha,4,2010-02-18 08:00:00+00:00,NaN,NaN,Small,Small,Dresses,NaN,2012,0

In [3]:
same = MarketBias[MarketBias.brand == 'ModCloth']

In [4]:
same.shape

(15071, 12)

In [37]:
same.head()

,item_id,user_id,rating,timestamp,size,fit,user_attr,model_attr,category,brand,year,split
280,21296,Petra,5,2011-01-25 08:00:00+00:00,NaN,Just right,NaN,Small,Bottoms,ModCloth,2013,1
281,21296,ejs,4,2011-01-26 08:00:00+00:00,NaN,Slightly small,NaN,Small,Bottoms,ModCloth,2013,1
292,21296,Brandi,5,2011-02-02 08:00:00+00:00,NaN,Just right,Small,Small,Bottoms,ModCloth,2013,0
318,21296,Momo,5,2011-02-12 08:00:00+00:00,NaN,Slightly small,Small,Small,Bottoms,ModCloth,2013,0
323,21296,Jackie,5,2011-02-14 08:00:00+00:00,NaN,Just right,Small,Small,Bottoms,ModCloth,2013,0

In [13]:
ModCloth

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29,7,5.0,d,38,34,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31,13,3.0,b,30,36,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30,7,2.0,b,NaN,32,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.00,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82785,807722,NaN,8,4.0,b,NaN,36,outerwear,NaN,5ft 8in,Jennifer,just right,fit,727820,8.50,average,Cute jacket!,Cute jacket!
82786,807722,NaN,12,5.0,ddd/f,NaN,34,outerwear,NaN,5ft 5in,Kelli,slightly long,small,197040,NaN,NaN,It's a beautiful jacket.,It's a beautiful jacket. I love how it's knit ...
82787,807722,NaN,12,5.0,dddd/g,36.0,32,outerwear,NaN,5ft 4in,elacount,just right,fit,102493,NaN,NaN,I love this blazer. It is,I love this blazer. It is a great office piece...
82788,807722,NaN,12,4.0,NaN,NaN,NaN,outerwear,NaN,5ft 3in,jennaklinner,just right,fit,756491,NaN,NaN,I love this blazer!! I wo,I love this blazer!! I wore it yesterday and g...
82789,807722,NaN,4,4.0,d,39.0,32,outerwear,NaN,6ft,maireadsteadman,just right,fit,78305,NaN,NaN,I love this piece. I'm re,I love this piece. I'm really happy with it!

In [34]:
new_df = pd.merge(ModCloth, same,  how='inner', left_on=['item_id'], right_on = ['item_id'])

In [35]:
new_df

Empty DataFrame
Columns: [item_id, waist, size_x, quality, cup size, hips, bra size, category_x, bust, height, user_name, length, fit_x, user_id_x, shoe size, shoe width, review_summary, review_text, user_id_y, rating, timestamp, size_y, fit_y, user_attr, model_attr, category_y, brand, year, split]
Index: []

[0 rows x 29 columns]

In [23]:
ModCloth.item_id = ModCloth.item_id.astype('int')

In [15]:
ModCloth.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82790 entries, 0 to 82789
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_id         82790 non-null  object
 1   waist           2882 non-null   object
 2   size            82790 non-null  int64
 3   quality         82722 non-null  float64
 4   cup size        76535 non-null  object
 5   hips            56064 non-null  object
 6   bra size        76772 non-null  object
 7   category        82790 non-null  object
 8   bust            11854 non-null  object
 9   height          81683 non-null  object
 10  user_name       82790 non-null  object
 11  length          82755 non-null  object
 12  fit             82790 non-null  object
 13  user_id         82790 non-null  object
 14  shoe size       27915 non-null  object
 15  shoe width      18607 non-null  object
 16  review_summary  76065 non-null  object
 17  review_text     76065 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 12.0+ MB

In [39]:
len(ModCloth.item_id.unique())

1378

In [41]:
len(ModCloth.user_name.unique())

32429